.home-page{
    display: flex;
}

.box-card li{
    background-color: rgb(154, 154, 212);
    display: flex;
    flex-wrap: wrap;
    
}

.image{
    background-image: url(/src/assets/images/background10.webp);
}