.card {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    width: 350px;
    height: 700px;
    color: #BEBDB8;
}

.card img {
    width: 200px; 
    display: block; 
    margin-left: auto;  
    margin-right: auto;
}

h2 {
    padding: 10px 0;
}

h4 {
    padding-top: 10px;
}

.descricao {
    padding: 10px 0;
}