.sidebar {
    background-color: rgba(0, 0, 0, 0.9);
    width: 300px;
    padding-left: 10px;
}
h3{
    color: #BEBDB8;
    font-family: verdana;
    margin: 5px 0;
    margin-top: 15px;
}
.sidebar li {
    color: #BEBDB8;
    font-family: verdana;
    font-weight: 500;
    font-size: 20px;
}
.sidebar li input {
    width: 25px;
}
.mais {
    color: #BEBDB8
    ;
}
.sidebar li {
    display: flex;
}