.card {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    width: 350px;
    height: 700px;
    color: #BEBDB8;
}

.card img {
    width: 300px;
    height: 200px;
    display: block; 
    margin-left: auto;  
    margin-right: auto;
}

h2 {
    padding: 10px 0;
    height: 70px;
}

.descricao {
    padding: 10px 0;
    height: 220px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p span {
    font-weight: 700;
    font-size: 30px;
}
.compra {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 70px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: #BEBDB8;
}
button:hover{
    width: 100px;
    height: 80px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    background-color: #BEBDB8;
    
}
.estoque{
    color: #f60c0c;
    font-size: 15px;
}
.button{
    display: flex;
}